<h2 class="welcomeheading">WELCOME.</h2>
<p class="welcometext">This is a customer relations manager app, you can use it to store contacts and certain attributes about them.</p>
	<h3 class="time"> The Time is: <%= @current_time %></h3>