<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css-reset.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>CRM</title>
</head>
	<h1>Customer Relations Manager.</h1>

<body>
	<div class="navigationwrapper">
		<nav class="navigationbar">
		<a href="contactlist">View All Contacts</a>
		<a href="about-me">Add Contact</a>
		<a href="favourites">Modify Contacts</a>
		</nav>
	</div>

</body>
</html>