<h2>Create a New Contact</h2>
<form action="/contacts" method="post">
	<label>First Name</label>
	<input type="text" name="first_name" placeholder="John">
	<label>Last Name</label>
	<input type="text" name="last_name" placeholder="Doe">
	<label>Contact Email</label>
	<input type="text" name="email" placeholder="john@doe.com">
	<label>Message</label>
	<input type="text" name="note" placeholder="a john doe">
	<input class="submitButton" type="submit" name="New Contact">
</form>	