<h3>Create a New Contact</h1>
<form action="/contacts" method="post">
	<input type="text" name="first_name" placeholder="first name">
	<input type="text" name="last_name" placeholder="last name">
	<input type="text" name="email" placeholder="contact email">
	<input type="text" name="note" placeholder="notes">
	<input type="submit" name="New Contact">
</form>	