html {
	font-size: 10px;

	/* Make 1rem = 10px. */
	font-size: 50%; /* 10px / 16px = 0.625 or 62.5% */
	background-color: white;
	font-family: "Helvetica";

}
	/*layout*/

.titleribbon {
	background-color: black;

}

h1 {
	font-size: 3em; 
	color: white;
	text-align: center;
 }

.navigationwrapper {
	background-color: white;
	
}

.ribbon1, .ribbon2, .ribbon3, .ribbon4 {
	background-color: silver;
	display: block;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 20%;
	text-align: center;
	font-size: 2em;
	padding: 0.5%;
	 

	/*padding: 10px;*/

}

.ribbon1 a, .ribbon2 a, .ribbon3 a, .ribbon4 a {
	
	text-decoration: none;

	/*padding: 10px;*/

}

.ribbonfooter{
	background-color: black;
	color: white;
	text-align: center;
	padding: 1%;
	font-size: 1.5em;
}
	/*homepage*/

.welcomeheading {
	font-size: 3em;
	text-align: center;
	text-decoration: underline;
	padding: 2.5%;
}

.welcometext {
	text-align: center;
	font-size: 2em;
	padding: 2.5%;
}

.time {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 5%;

}

	/*contactlist*/

.contactcount {
	background-color: red;
	padding: 2%;
	font-size: 1.5em;
	font-weight: bold;
}

.countparagraph {
	text-align: center;
}

.contactwrapper {
	padding: 1%;
	background-color: white;
}

.contactribbon {
	padding: 2%;
	background-color: teal;
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 2em;
}
.contactlink {
	margin-top: 8px;
}
.contactlink a {
	text-decoration: none;
	font-weight: normal;
	color: white;
}

.thankyou {
	font-size: 2em;
	text-align: center;
	padding: 2%;
}

.thankyouparagraph {
	font-size: 1.5em;
	text-align: center; 
	padding: 2%;
}

.number {
	text-decoration: underline white;
}

	/*show_contact*/

.fullname {
	text-align: center; 
	color: black;

}

.email {
	text-align: center;
}

.description {
	text-align: center; 
	font-weight: bold;
	display: block;
	font-size: 2em;
}

.note {
	text-align: center;
}


